---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import cctvcoverpicture from "../assets/featured/CCTV.jpg";
import cctv1 from "../assets/install_pictures/cctv/1.jpg";
import cctv2 from "../assets/install_pictures/cctv/2.jpg";
import cctv3 from "../assets/install_pictures/cctv/3.jpg";
import cctv4 from "../assets/install_pictures/cctv/4.jpg";
import cctv5 from "../assets/install_pictures/cctv/5.jpg";
import cctv6 from "../assets/install_pictures/cctv/6.jpg";
import cctv7 from "../assets/install_pictures/cctv/7.jpg";
---

<MainLayout>
  <!-- Container for demo purpose -->
  <div class="container my-8 lg:my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-2">
      <!-- Jumbotron -->
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div
          class="flex flex-col-reverse gap-4 lg:grid items-center lg:grid-cols-2"
        >
          <div class="mb-12 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] bg-base-200 shadow-black/20 md:px-12 lg:-mr-14"
            >
              <h2 class="mb-8 text-3xl font-bold">Camera Systems</h2>
              <p class="mb-8 pb-2 text-neutral-300 lg:pb-0">
                Veritas Managed Solutions offers top-tier video surveillance
                systems designed to provide comprehensive monitoring and
                protection for residential and commercial properties.
              </p>
            </div>
          </div>

          <div>
            <Image
              src={cctvcoverpicture}
              class="w-full rounded-lg shadow-lg shadow-black/20"
              alt="Veritas video system installation"
            />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
  <div class="container mx-auto mb-12 lg:mb-0">
    <div
      class="relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] bg-base-200 shadow-black/20 mx-5 md:px-12 lg:mx-32"
    >
      <h2 class="mb-8 text-2xl lg:text-3xl font-bold">
        Video systems offered:
      </h2>

      <div
        class="mx-auto mb-8 flex flex-col md:justify-around lg:justify-between"
      >
        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Camera Systems
        </p>
        <p class="my-2 text-neutral-300">
          Veritas installs and programs commercial-grade cameras in industrial
          sites, retail settings, churches, custom homes, and more. Our projects
          range from a single discrete camera to hundreds of cameras covering
          millions of square feet.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Intercom
        </p>
        <p class="my-2 text-neutral-300">
          Veritas installs intercom systems enabling customers to regulate
          access to their facilities.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Remote Monitoring
        </p>
        <p class="my-2 text-neutral-300">
          Our surveillance systems can be accessed remotely via smartphones,
          tablets, or computers, allowing clients to monitor their premises in
          real-time from anywhere with an internet connection.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Motion Detection
        </p>
        <p class="my-2 text-neutral-300">
          Integrated motion detection technology enables our surveillance
          systems to detect movement within designated areas, triggering
          immediate alerts and recording activities for further analysis.
        </p>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-5 py-2 lg:px-32">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={cctv1}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={cctv2}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
        <div class="w-full p-1 md:p-2">
          <Image
            src={cctv3}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <Image
            src={cctv4}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={cctv5}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={cctv6}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={cctv7}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas cctv installation"
          />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
