---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import wirelesscover from "../assets/featured/Wireless.jpeg";
import wireless1 from "../assets/install_pictures/wireless/1.png";
import wireless2 from "../assets/install_pictures/wireless/2.jpg";
import wireless3 from "../assets/install_pictures/wireless/3.jpg";
import wireless4 from "../assets/install_pictures/wireless/4.jpg";
import wireless5 from "../assets/install_pictures/wireless/5.jpg";
import wireless6 from "../assets/install_pictures/wireless/6.jpg";
import wireless7 from "../assets/install_pictures/wireless/7.jpg";
import wireless8 from "../assets/install_pictures/wireless/8.jpg";
import wireless9 from "../assets/install_pictures/wireless/9.jpg";
---

<MainLayout>
  <!-- Container for demo purpose -->
  <div class="container my-5 lg:my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="lg:mb-32">
      <!-- Jumbotron -->
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div
          class="flex flex-col-reverse px-3 gap-2 grid-flo lg:grid items-center lg:grid-cols-2"
        >
          <div class="lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] bg-base-200 shadow-black/20 md:px-12 lg:-mr-14"
            >
              <h2 class="mb-8 text-3xl font-bold">Wireless Services</h2>
              <p class="lg:mb-8 pb-2 text-neutral-300 lg:pb-0">
                <ul>
                  <li>
                    <strong class="font-semibold text-accent"
                      >WiFi Systems</strong
                    >
                  </li>
                  <li>
                    <strong class="font-semibold text-accent"
                      >DAS Systems</strong
                    >
                  </li>
                  <li>
                    <strong class="font-semibold text-accent"
                      >Predictive Surveys</strong
                    >
                  </li>
                  <li>
                    <strong class="font-semibold text-accent"
                      >Indoor/Outdoor Surveys</strong
                    >
                  </li>
                  <li>
                    <strong class="font-semibold text-accent"
                      >Point to Point</strong
                    >
                  </li>
                  <li>
                    <strong class="font-semibold text-accent"
                      >Wireless Troubleshooting</strong
                    >
                  </li>
                </ul>
              </p>
            </div>
          </div>

          <div>
            <Image
              src={wirelesscover}
              class="w-full rounded-lg shadow-lg shadow-black/20"
              alt="An access point installed by Veritas"
            />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
  <div class="mx-auto container mb-12 lg:mb-0">
    <div
      class="relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] bg-base-200 shadow-black/20 mx-5 md:px-12 lg:mx-32"
    >
      <h2 class="mb-8 text-2xl lg:text-3xl font-bold">
        Other wireless projects include:
      </h2>
      <p class="mb-8 pb-2 text-neutral-300 lg:pb-0">
        Veritas engineers Wi-Fi network designs that meet your business’ needs.
        Our comprehensive Wi-Fi services include:
      </p>
      <div
        class="mx-auto mb-8 flex flex-col md:justify-around lg:justify-between"
      >
        <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          WiFi survey design
        </p>

        <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          WiFi validation/verification
        </p>

        <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Spectrum Analysis
        </p>

        <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Site analysis and reporting
        </p>

        <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Configuration and staging services
        </p>

        <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Installation services
        </p>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-5 py-2 lg:px-32">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={wireless1}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas wireless installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={wireless2}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas wireless installation"
          />
        </div>
        <div class="w-full p-1 md:p-2">
          <Image
            src={wireless3}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas wireless installation"
          />
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <Image
            src={wireless4}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas wireless installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={wireless5}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas wireless installation"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <Image
            src={wireless6}
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            alt="Veritas wireless installation"
          />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
